@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
:root{
	--f7-theme-color:#000000;
	--f7-navbar-bg-color: #fff; /*navbar*/
	--f7-navbar-link-color: #5079FE; /*navbar link*/
	--f7-navbar-text-color:#7C899F;
	--f7-bars-bg-color:#fff;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
}
body{
	font-family: 'Open Sans', sans-serif;
}
.img-fluid{
	max-width: 100%;
	display: block;
}
p, h1, h2, h3, h4, h5, h6{
	margin: 5px 0;
}

.panel-left{
	background-color: fafafa;
}
.panel-info{
	margin-top: 0;
	background-color: fff;
	border-bottom: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}
.panel-info p{
	color: aaa;
	font-size: 12px;
}
.panel-left .list ul{
	background-color: transparent;
	font-size: 14px;
	text-transform: uppercase;
}
.panel-left span.material-icons{
	color: var(--f7-theme-color);
	font-size: 20px;
}
.block-title-medium{
	font-size: 15px;
}
.link-all{
	margin-top: 24px;
	font-size: 16px;
}
.card-header{
	padding: 0;
}
.card-content{
}















